---
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'
import BlogTags from '../../components/BlogTags.astro'
import Layout from '../../layouts/Layout.astro'
import { formatDatePretty } from '../../services/date'
import { getBlogPath } from '../../services/url'

export async function getStaticPaths() {
    const posts = await getCollection('blog')
    return posts.map((post) => ({
        params: {
            id: getBlogPath(post),
        },
        props: {
            post,
        },
    }))
}

const { post } = Astro.props
const { Content } = await render(post)
---

<!-- TODO: Add pageDescriptions for all pages. -->
<Layout pageTitle={post.data.title} postData={post.data}>
    <div class="metadata">
        <time datetime={post.data.date.toISOString()}>{formatDatePretty(post.data.date)}</time>
        <div>Tags: <BlogTags tags={post.data.tags} /></div>
    </div>
    {
        post.data.coverImage ? (
            <div class="coverImage">
                <Image
                    src={post.data.coverImage}
                    alt={post.data.coverImageAlt || ''}
                    layout="constrained"
                    height={350}
                    loading="eager"
                />
            </div>
        ) : null
    }
    <Content />
</Layout>

<style>
    .metadata {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem 1rem;
        margin-bottom: 1rem;
    }
    .coverImage {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
</style>
