---
import type { CollectionEntry } from 'astro:content'

interface Props {
    project: CollectionEntry<'projects'>
}

const { project } = Astro.props
---

<li>
    <a href={`/project/${project.id}/`} class="link" aria-label={`${project.data.title} (${project.data.description})`}>
        <span class="icon">
            {project.data.emoji}
        </span>
        <span class="content">
            <span class="title">{project.data.title}</span>
            <small class="description">{project.data.description}</small>
        </span>
    </a>
</li>

<style define:vars={{ 'project-color': project.data.color }}>
    li {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        --inner-border-radius: calc(var(--border-radius) - 1px);

        &:first-of-type .link {
            border-top-left-radius: var(--inner-border-radius);
            border-top-right-radius: var(--inner-border-radius);
        }

        &:last-of-type .link {
            border-bottom-left-radius: var(--inner-border-radius);
            border-bottom-right-radius: var(--inner-border-radius);
            border-bottom: none;
        }
    }
    .link {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-bottom: 1px solid var(--text-color);
        text-decoration: none;
        transition: background-color 50ms;

        &:hover {
            background-color: hsl(from var(--project-color) h s l / 0.25);
        }
    }
    .icon {
        width: 2rem;
        height: 2rem;
        flex: 0 0 2rem;
        display: grid;
        place-content: center;
        border-radius: 50%;
        background-color: var(--project-color);
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .title {
        display: block;
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
        text-decoration: underline;
        text-decoration-color: var(--accent-color-subdued);
        text-decoration-thickness: 0.12em;
        text-underline-offset: 0.18em;
    }
    .description {
        font-size: var(--font-size-small);
    }
</style>
