---
import type { ImageMetadata } from 'astro'
import { Carousel } from 'astro-carousel'
import type { ComponentProps } from 'astro/types'
import { Image } from 'astro:assets'

export type PhotoGalleryImage = ComponentProps<typeof Carousel>['images'][number] & {
    src: ImageMetadata
}

interface Props {
    images: PhotoGalleryImage[]
}

const { images } = Astro.props
---

<ul id="carouselTargetList">
    {
        images.map((image, index) => (
            <li>
                <a href={`/?image=${index}`} data-carousel-index={index}>
                    <Image
                        src={image.src}
                        alt={image.alt}
                        layout="constrained"
                        format={image.format}
                        width={image.width || 250}
                        height={image.height || 250}
                        loading="eager"
                    />
                </a>
            </li>
        ))
    }
</ul>
<Carousel images={images} />

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        li {
            a {
                display: flex;
                transition: opacity 50ms;
                img {
                    width: 100%;
                }
            }
            a:hover {
                opacity: 0.8;
            }
        }
    }
    ul:has(> :nth-child(3)) {
        @media (min-width: 500px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
