---
import '@fontsource-variable/chivo'
import '@fontsource/space-mono'
import type { CollectionEntry } from 'astro:content'
import H1 from '../components/H1.astro'
import Footer from '../components/SiteLayout/Footer.astro'
import GlobalStyles from '../components/SiteLayout/GlobalStyles.astro'
import Header from '../components/SiteLayout/Header.astro'
import TrackingScript from '../components/SiteLayout/TrackingScript.astro'

interface Props {
    pageTitle: string
    pageDescription?: string
    ogImage?: string
    ogType?: 'website' | 'article'
    /** e.g. "2024-12-01T09:33:20+00:00" */
    ogArticlePublishedTime?: string
    /** Frontmatter coming from Markdown pages. */
    frontmatter?: {
        title: string
    }
    postData?: CollectionEntry<'blog'>['data']
}

const {
    pageTitle,
    pageDescription,
    ogImage,
    ogType = 'website',
    ogArticlePublishedTime,
    frontmatter,
    postData,
} = Astro.props
const siteName = 'Herr Herrmann'
const pageTitleWithFallback = frontmatter?.title || postData?.title || pageTitle
const fullTitle = [pageTitleWithFallback, siteName].filter(Boolean).join(' – ')
const siteLanguage = 'en'

const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" type="image/png" href="/favicon-512.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Herr Herrmann" href={new URL('feed', Astro.site)} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{fullTitle}</title>
        {pageDescription && <meta name="description" content={pageDescription} />}
        <meta property="og:title" content={fullTitle} />
        {pageDescription && <meta property="og:description" content={pageDescription} />}
        <meta property="og:type" content={ogType} />
        {ogImage && <meta property="og:image" content={ogImage} />}
        {ogArticlePublishedTime && <meta property="article:published_time" content={ogArticlePublishedTime} />}
        <meta property="og:site_name" content={siteName} />
        <meta property="og:locale" content="en_US" />
        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Sebastian Herrmann" />
    </head>
    <body lang={siteLanguage}>
        <GlobalStyles />
        <div class="layout">
            <Header />
            <main lang={postData?.language}>
                {frontmatter?.title || postData?.title ? <H1>{frontmatter?.title || postData?.title}</H1> : null}
                <slot />
            </main>
            <Footer />
        </div>
    </body>
    {isProd && <TrackingScript />}
</html>

<style>
    .layout {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    main {
        flex: 1 0 auto;
        width: 100%;
        max-width: var(--page-max-width);
        padding: 0 var(--page-padding);
        margin: 0 auto;
    }
</style>
